#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  width: 100vw;
  max-width: 100vh;
}

header {
  max-width: 100%;
  min-width: 80vw;
  display: flex;
  justify-content: space-between;
}